:root {
  --first-color: #e2212a;
  --second-red-color: #c4171d;
  --body-color: #f4f3f4;
  --text-color: #808080;
  --shadow-color: #000000;
  --footer-color: #2a211c;
  --footer-button: #a01414;
  --line-color: #e6e6e6;
  --section-color: #ffff;
  --box-shadow: #ababab33;
  --weer-column: #ec6070;
  --weer-list: #ee7b81;
  --weer-top: #0362b5;
  --dark-theme-nav:#323232;
  --dark-theme:#1e1e1e;
}

@font-face {
  font-family: "accord";
  src: url("/font/accord.regular.ttf");
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--body-color);
  margin: 0;
}

h2 {
  font-family: "accord";
}

p {
  font-weight: bold;
  font-family: "accord";
}

h2{
  color: var(--shadow-color);
}

h3 {
  font-family: "accord";
  display: inline;
  text-transform: uppercase;
  color: var(--body-color);
  border-radius: 0.3em;
  padding: 0.5em 0.75em;
  letter-spacing: 0.1em;
  text-align: center;
  background-color: var(--first-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--shadow-color);
}

nav ul {
  display: flex;
  flex-direction: column;
  font-family: "accord";
  gap: 2em;
}

/* HEADER  */

header {
  background-color: var(--section-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
}

/* ZOEK & MENU BUTTON */

header button {
  font-family: "accord";
  width: 5em;
  border-style: none;
  padding-top: 2.5em;
  background-color: var(--section-color);
}

header > button:nth-of-type(1) {
  background-image: url(../images//search_button.png);
  background-repeat: no-repeat;
  background-size: 2.25em auto;
  background-position: top center;
  color: var(--text-color);
}

header button:nth-of-type(2) {
  background-image: url(../images//menu_button.png);
  background-repeat: no-repeat;
  background-size: 2.25em auto;
  background-position: top center;
  color: var(--text-color);
}

header > button:nth-of-type(1):hover {
  background-image: url(../images//search_hover.png);
  background-repeat: no-repeat;
  background-size: 2.25em auto;
  background-position: top center;
  color: var(--shadow-color);
}

header button:nth-of-type(2):hover {
  background-image: url(../images//menu_hover.png);
  background-repeat: no-repeat;
  background-size: 2.25em auto;
  background-position: top center;
  color: var(--shadow-color);
}


/* HAMBURGER MENU  https://codepen.io/shooft/pen/GRxXboQ */

header img:first-of-type {
  width: 2.5em;
  height: 2.5em;
  margin-right: auto;
  margin-left: 0.8em;
}

header a {
  font-family: "accord";
  padding: 0.5em 0;
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  margin-right: auto;
}

header nav {
  padding: 1em;
  padding-top: 0em;
  display: grid;
  align-items: start;
  background-color: var(--section-color);
  gap: 1em;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateY(-100%);
  transition: transform 0.3s;
  overflow: scroll;
  z-index: 5;
}

nav.toonMenu {
  transform: translateY(0);
}

/* EINDE HEADER */

/* IMAGE HOVER https://codepen.io/KaoriYes/pen/QWxzMyx Quinten heeft hiermee geholpen :) */

main section:nth-of-type(1):hover .dochter {
  transform: scale(1);
}

.moeder {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.moederheader {
  height: 22em;
  width: 99%;
  z-index: -1;
}

.dochter {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.1);
  transition: 0.5s;
}

.foto-een {
  background-image: url(../images//image1.png);
}

.moeder:hover .dochter {
  transform: scale(1);
}

/* IMAGE HOVER  https://codepen.io/KaoriYes/pen/QWxzMyx */

/* CHABRANI */

main section:nth-of-type(1) {
  position: relative;
  z-index: 5;
}

main section:nth-of-type(1) img {
  height: 54%;
  width: 99%;
}

main section:nth-of-type(1) h2 {
  position: absolute;
  bottom: 0.2em;
  left: 0.5em;
  color: var(--body-color);
  text-shadow: 1px 1px 2px var(--shadow-color);
  font-size: 1.25em;
}

main section:nth-of-type(1) h3 {
  position: absolute;
  font-size: 69%;
  bottom: 7em;
  left: 1em;
}

/* WEER, VERKEER EN LUCHT */

main > ul:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3em;
  font-family: "accord";
  background-color: var(--body-color);
  margin: 0;
  padding: 0.2em;
  border-bottom: 1px solid var(--line-color);
  border-top: 1px solid var(--line-color);
}

main > ul img {
  width: 3em;
  height: 2em;
}

main > ul li:first-of-type img{
height: 2.5em;
}

main ul:nth-of-type(1) p {
  font-weight: lighter;
  margin-left: 1em;
  color: var(--text-color);
}

main > ul:first-of-type li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 5em;
  height: 3em;
}

/* ALLE ARTIKELEN */

main section:nth-of-type(2) div,
main section:nth-of-type(4) div,
main section:nth-of-type(6) div{
  width: auto;
  height: 10rem;
  overflow: hidden;
}

main section:nth-of-type(2) article div h3,
main section:nth-of-type(4) article div h3,
main section:nth-of-type(6) article div h3 {
  font-size: 69%;
}

main section:nth-of-type(2),
main section:nth-of-type(4),
main section:nth-of-type(6) {
  display: flex;
  flex-direction: column;
  background-color: var(--body-color);
}

main section:nth-of-type(2) img,
main section:nth-of-type(4) img,
main section:nth-of-type(6) img{
  width: auto;
  height: 8em;
  transform: scale(1.1);
  transition: 0.2s;
}

main section:nth-of-type(2) img:hover,
main section:nth-of-type(4) img:hover,
main section:nth-of-type(6) img:hover{
  transform: scale(1);
}

main section:nth-of-type(2) article,
main section:nth-of-type(4) article,
main section:nth-of-type(6) article {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 1em;
  margin: 0.5em;
}

/* MEEST BEKEKEN */

main section:nth-of-type(3) {
  background-color: var(--section-color);
}

main section:nth-of-type(3) ol {
  list-style-type: none;
  font-family: "accord";
  width: 100%;
  margin: 0;
  padding: 0;
}

main section:nth-of-type(3) ol li {
  counter-increment: step-counter;
  margin-bottom: .3125em;
  display: flex;
  flex-direction: row;
  font-family: "accord";
}

main section:nth-of-type(3) ol li:before {
  content: counter(step-counter);
  margin-right: 0.5em;
  margin-left: 0.2em;
  font-size: 3em;
  font-family: "accord";
  color: var(--first-color);
}

/** OL STYLING https://codepen.io/sawmac/pen/qBKzmM?editors=1100 */

/* TIPS VAN DE REDACTIE */

main section:nth-of-type(5) img {
  width: 20em;
  height:20em;
}

main section:nth-of-type(5) ul{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 1em;
  text-decoration: none;
  gap: 1em;
  font-family: "accord";
}

main section:nth-of-type(5) ul li{
  position: relative;
}

main section:nth-of-type(5) ul li h3 {
  position: absolute;
  font-size: .8em;
  left: 1em;
  bottom: 7em;
  margin: 1em 0em;
  padding: 0.3em;
}

main section:nth-of-type(5) ul li h2 {
  color: var(--body-color);
  position: absolute;
  font-size: 1.3em;
  bottom: 1em;
  left: 1em;
  text-shadow: 1px 1px 2px var(--shadow-color);
  margin: 0;
}

main section:nth-of-type(5) {
  background-color: var(--body-color);
  position: relative;
  margin: 0.5em;

}

/* LAAD MEER BUTTON */

main button {
  border-style: none;
  border-radius: 0.3em;
  color: var(--body-color);
  background-color: var(--first-color);
  position: absolute;
  left: calc(50% - 3em);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-transform: uppercase;
  margin-top: 1em;
  padding-left: 1.3em;
  font-size: 0.8em;
  padding-right: 1.3em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

main button img {
  width: 1.5em;
  height: 1.5em;
}

main button:hover img {
  width: 1.5em;
  height: 1.5em;
  transition-duration: 0.3s;
  transform: rotateZ(180deg);
}

/**/


/* SPECIALS */

main section:nth-of-type(7) {
  background-color: var(--second-red-color);
  background-image: url(../images//section_background.png);
  background-position: 100% 100%;
  background-size: cover;
  background-blend-mode: overlay;
  margin-top:5em;
}

main section:nth-of-type(7) h2 {
  color: var(--body-color);
  padding-top: 1em;
  padding-left: 1em;
}

main section:nth-of-type(7) ul {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding: 1em;
  text-decoration: none;
  gap: 3em;
  font-family: "accord";
}

main section:nth-of-type(7) ul li {
  position: relative;
}

main section:nth-of-type(7) ul li img {
  border-radius: 0.3em;
  height: 20em;
}

main section:nth-of-type(7) ul li h4 {
  color: var(--body-color);
  font-weight: 100;
  text-transform: uppercase;
  position: absolute;
  bottom: 5em;
  left: 3em;
  text-shadow: 1px 1px 2px var(--shadow-color);
  margin: 0;
}

main section:nth-of-type(7) ul li h2 {
  color: var(--body-color);
  position: absolute;
  bottom: 2em;
  left: 1em;
  text-shadow: 1px 1px 2px var(--shadow-color);
  margin: 0;
}

main section:nth-of-type(7) button {
  background-color: var(--footer-button);
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.8rem 1rem 0.8rem 1rem;
  position: relative;
  left: 1.3em;
  font-size: 1em;
  margin-top: 0.1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main section:nth-of-type(7) button img {
  margin-left: 3em;
}

main section:nth-of-type(7) ul li:nth-of-type(3) h2{
  padding: 1em;
  font-size: 1.2em;
}

main section:nth-of-type(7) ul li:nth-of-type(5) h2{
  padding: 1em;
  font-size: 1.2em;
}

/* FOOTER */

nav ul li:nth-of-type(1) img {
  width: 2.5em;
  height: 2.5em;
  left: 0em;
  margin: 0em;
}

footer {
  background-color: var(--footer-color);
  background-image: url(../images//footer_background.png);
  background-position: 100% 100%;
  background-size: cover;
  background-blend-mode: overlay;
}

footer img {
  width: 7em;
  height: 5em;
  padding: 1em;
}

footer p {
  color: var(--text-color);
}

footer nav ul {
  font-weight: bold;
  padding: 1em;
  gap: 0.5em;
}

footer section ul li img {
  width: 1.5em;
  height: 1.5em;
}

footer section ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: auto;
  padding-left: 1em;
}

footer section:nth-of-type(2) ul {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  font-size: 0.9em;
  gap: 0.2em;
}

footer section ul li {
  display: flex;
  width: 50%;
  align-items: center;
}

footer section ul li:nth-of-type(5) {
  justify-self: flex-start;
  margin-right: auto;
}

footer section:nth-of-type(2) {
  background-color: var(--shadow-color);
}

footer section:nth-of-type(2) p {
  color: var(--body-color);
  padding-top: 1em;
  font-size: 0.9em;
  font-weight: lighter;
}

footer section:nth-of-type(2) a {
  text-decoration: underline;
  color: var(--body-color);
}

footer section ul li:hover a {
  color: var(--body-color);
}

footer a {
  text-decoration: none;
  color: var(--text-color);
}

footer button{
  border-radius: 50%;
  min-height: 2.2rem;
  min-width: 2.2rem;
  font-size: 1.2rem;
  color:var(--text-color);
  background-color: var(--footer-color);
  border-color: var(--text-color);
  border: 1px solid;
}

footer button:hover{
  color:var(--body-color);
  border-color: var(--body-color);
}


/* WEER PAGINA */

.weer main section:first-of-type p {
  font-family: "accord";
  font-weight: 100;
}

.weer header a{
  margin-right: auto;
  text-decoration: none;
}

.weer main section h1 {
  font-size: 2em;
  font-family: "accord";
}

.weer main > section:first-of-type {
  padding: 1em;
  padding-bottom: 0em;
}

.weer main section:nth-of-type(2) {
  padding: 1em;
  margin-bottom: 1.25rem;
  margin-top: 1rem;
  box-shadow: 0 0.25em 0.5em var(--box-shadow);
  margin: 2em;
}

.weer main section:nth-of-type(2) p{
  font-weight: 100;
}

.weer footer section ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: auto;
  padding-left: 1em;
}

.weer footer section:nth-of-type(2) ul {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  font-size: 0.9em;
  gap: 0.2em;
}

.weer footer section ul li {
  display: flex;
  width: 50%;
  align-items: center;
}

/* WEER DAGEN */

.weer h2 {
  color: var(--body-color);
  font-size: 2em;
  padding-top: 1em;
  padding-left: 1em;
  margin: 0em;
}

.weer section ul li p {
  color: var(--body-color);
}

.weer section:nth-of-type(3) {
  background-color: var(--first-color);
  border-radius: 0.5em;
  margin:2em;
}


.weer section:nth-of-type(3) > ul {
  display: flex;
  border-radius: 1em;
  margin: 0em;
}

.weer section > li {
  display: flex;
  flex-direction: column;
  color: var(--body-color);
  width: 12.125em;
}

.weer section li {
  color: var(--body-color);
  width: 12.125em;
}

.weer section ul li ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weer section ul li ul li:nth-child(2n) {
  background-color: var(--weer-list);
  padding-right: 1em;
}

.weer main section:nth-of-type(3) ul li:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weer section ul li:first-of-type span {
  display: inline-block;
  margin-left: 0.8rem;
  opacity: 0.6;
}

.weer section ul li p {
  font-weight: 700;
}

.weer section ul li img {
  width: 2.2em;
  height: 2.2em;
  padding: 0.5em;
}

.weer section ul li ul li:first-of-type img {
  width: 7em;
  height: 7em;
}

.weer section ul li ul {
  padding: 0;
  margin: 0;
  background: var(--weer-column);
  border-radius: 0.43em;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.weer section:nth-of-type(4) section {
  padding-left: 1em;
}

.weer section section {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.weer section a{
  text-decoration: none;
}

.weer a {
  font-family: "accord";
  text-decoration: underline;
}

.weer footer a{
  text-decoration: none;
}

.weer footer section ul{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: auto;
    padding-left: 1em;
}

.weer section:nth-of-type(3) section ul {
  width: auto;
}


/* skip to content button */

.skip-to-content-link {
  height: 1.875em;
  left: 50%;
  padding: 0.5em;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skip-to-content-link:focus {
  transform: translateY(0%);
}

/* https://css-tricks.com/how-to-create-a-skip-to-content-link/ */

@media (max-width:48em){
  .index main section:nth-of-type(7) ul li:first-of-type .imgbreed{
    display: none;
  }
}

@media (min-width:48em){
  .index main section:nth-of-type(2){
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto 5rem 5rem;
   gap:2em;
   margin-top: 1em;
  }

  .index main section:nth-of-type(4),
  .index main section:nth-of-type(6){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 5rem 5rem;
    gap:2em;
    margin-top: 1em;

  }
/* grid template column & row uit originele website */

  .index main section:nth-of-type(2) p
  .index main section:nth-of-type(4) p
  .index main section:nth-of-type(6) p{
    size-adjust: auto;
   }

/* TIPS VAN DE REDACTIE */

.index main section:nth-of-type(5) ul{
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  row-gap: 2em;
  justify-content: space-around;
  overflow: hidden;
}


/* SPECIALS */

 .index main section:nth-of-type(7) ul{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
 }
 
 .index main section:nth-of-type(7) ul li:first-of-type {
   margin-left: 0;
   width: 41em;
 }
  
.index main section:nth-of-type(7) ul li:first-of-type .imgbreed{
  display: block;
  min-width: 30em;
  max-width: 41.125em;
}
.index main section:nth-of-type(7) ul li:first-of-type .imgsmal{
  display: none;
   
}
/*  */

.weer main > section:first-of-type h1, .weer main > section:first-of-type p{
  color:var(--body-color);
}

 .weer main > section:first-of-type {
  display: block;
  padding: 1em;
  padding-bottom: 0em;
  background-image: url(../images//breakleft.png),url(../images//breakright.png);
  background-position: 0 100%,100% 100%;
  background-size: contain,contain;
  background-repeat: no-repeat;
  background-color: var(--weer-top);
  background-blend-mode: overlay;
 }

}


  .darkbody h2{
    color:#e6e6e6;
  }

  .darkbody p{
    color:#e6e6e6;
  } 

  .darkbody .artikel, .darkbody main, .darkbody main > ul:nth-of-type(1){
    background-color: var(--dark-theme);
  }

  .darkbody header, .darkbody header button{
    background-color: var(--dark-theme-nav);
  }